
    <!doctype html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/snackbar.min.css">
        <link rel="stylesheet" href="/assets/main.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <script src="/assets/snackbar.min.js"></script>
        <link rel="icon" href="/uploaded/" id="favicon">
        <title id="title"></title>
    </head>

    <body class="body">
    <div class="page">
        <div id="page_head" class="page-head" style="background: url(/uploaded/background)"></div>
        <div class="page-content">
            <div
                    id="establishment_info"
                    hx-get="/admin/establishment/info?id=1"
                    hx-trigger="load"
            ></div>
            <div class="page-main">
                <div id="menu_list" hx-get="/admin/menus?establishment_id=1" hx-trigger="load"></div>
                <div id="main_body" hx-get="/admin/categories?menu_id=1" hx-trigger="load"></div>


















            </div>
            <div class="page_content-footer">
                <a href="#">qrmenu</a>
            </div>
        </div>
    </div>
    <script>
        htmx.onLoad(function (content) {
            Array.from(content.getElementsByClassName("base-form-checkbox")).forEach((el) => {
                el.onclick = function () {
                    if (el.firstElementChild.hasAttribute("checked")) {
                        el.firstElementChild.removeAttribute("checked");
                    } else {
                        el.firstElementChild.setAttribute("checked", "");
                    }
                };
            });

            Array.from(content.getElementsByClassName("image-picker")).forEach((el) => {
                el.onclick = function () {
                    el.firstElementChild.children.item(1).click();
                };
            });
        })
    </script>
    </body>
    </html>
